<div class="main-container">

  <div> <%= render 'shared/side_bar' %> </div>

  <div class="users-container">
      <div class="users-header">
        <h2>All Users</h2>
      </div>
      <% @users.each do |user| %>
        <% if user != current_user %>
          <ul>
            <li>
              <div class="user-img">
                <%= link_to image_tag(user.profile.picture.url(:lg_img)),
                    profile_path(user.id) %>
              </div>
              <div class="user-info">
                <div class="user-name">
                  <%= link_to user.fullname, profile_path(user.id) %>
                </div>
                <div class="btn-friendship">
                  <% if !exists_friendship?(current_user, user) %>
                    <%= link_to "Add Friend", friendships_path(friend_id: user),
                        method: :post, class: "btn" %>
                  <% elsif !current_user.friendship_accepted?(user.id) %>
                    Friendship requested
                  <% else %>
                    <%= link_to "Unfriend",friendship_path(find_friendship(current_user, user)), 
                      method: :delete, class: "btn" %>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      <% end %>
  </div>

</div>
