<div class="main-container">

  <div> <%= render 'shared/side_bar' %> </div>

  <div class="users-container">
      <div class="users-header">
        <h2>All Users</h2>
      </div>
      <% @users.each do |user| %>
        <% if user != current_user %>
          <ul>
            <li>
              <div class="user-img">
                <%= link_to image_tag(avatar_for(user), class: :lg_img),
                    profile_path(user.id) %>
              </div>
              <div class="user-info">
                <div class="user-name">
                  <%= link_to user.fullname, profile_path(user.id) %>
                </div>
                <div class="btn-friendship">
                  <% if !current_user.has_friendship_with?(user) %>
                    <%= link_to "Add Friend", friendships_path(friend_id: user),
                        method: :post, remote: true, class: "btn" %>
                  <% elsif user.friendship_requested_by?(current_user) %>
                    <%= link_to "Accept", friendship_path(
                       current_user.get_friendship_with(user).id,
                       origin: 'user_list'), method: :patch, remote: true,
                       class: "btn" %>
                  <% elsif current_user.friendship_requested_by?(user) %>
                       <span>Friendship Requested</span>
                  <% else %>
                    <%= link_to "Unfriend",
                       friendship_path(current_user.get_friendship_with(user,true).id,
                        origin: "user_list"), method: :delete, remote: true,
                        class: "btn" %>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      <% end %>
  </div>

</div>
