<%= render 'shared/header' %>
<div class="profile-container">
  <div class="profile-content">
    <div class="profile-image">
      <%= link_to image_tag("img-profile.jpg"), profile_path(current_user.id) %>
      <span>
        <%= link_to current_user.fullname, profile_path(current_user.id) %>
      </span>
      <div class="profile-edit">
        <%= link_to 'Edit your Profile', edit_profile_path(current_user.id) %>
      </div>
    </div>
  </div>
  <div class="profile-menu">
    <ul>
      <li><%= link_to 'Timeline', '#' %></li>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Friends', '#' %></li>
    </ul>
  </div>
  <div class="profile-side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="user-profile">
    <div class="user-profile-title">
      <h3>About <%= @profile.user.fullname %></h3>
    </div>
    <div class="user-profile-data">
      <ul>
        <li> <span>Birthday:  </span> <%= @profile.birthday %> </li>
        <li> <span>Country:   </span> <%= @profile.country %> </li>
        <li> <span>Education: </span> <%= @profile.education %> </li>
        <li> <span>Profession:</span> <%= @profile.profession %> </li>
        <li> <span>About <%= @profile.user.first_name %>: </span> <%= @profile.about_me %></li>
        <li> <span>Accept receive email of notifications:
                       </span> <%= @profile.email_notification %> </li>
      </ul>
    </div>
    <div class="user-profile-bottom">
      <div class="profile-buttons">
        <!-- <%= link_to 'Edit', edit_profile_path(@profile.user.id) %> -->
        <%= link_to 'Edit', edit_profile_path(@profile.user) %>
      </div>
    </div>
  </div>
</div>
