<% if locals[:post].likes.length > 0 %>
  <div class="likes left-border right-border up-border">
    <%= image_tag("like.png") %>
    <span>
      <%= pluralize(locals[:post].count_likes, 'person') %> likes this.
    </span>
  </div>
<% end %>
<% if locals[:post].comments.any? %>
  <% locals[:post].comments.each do |comment| %>
    <div class="comment-details side-borders">
      <%= link_to image_tag(comment.user.profile.picture.url),
          profile_path(current_user.id) %>
      <div class="comment-info">
        <%= link_to comment.user.fullname, '#', class: 'user_name' %>
        <span><%= comment.body %></span>
        <p> <%= format_datetime(comment.created_at) %> </p>
      </div>
    </div>
  <% end %>
<% end %>
