<h1>Odin Flight Booking</h1>

<div class="container">

  <div class="col-md-10 col-md-offset-1 well">

    <%= form_tag(flights_path, method: "get") do %>

      <div class="col-md-6">
        <%= label_tag(:from_airport_id, "From Airport") %>
        <%= select_tag(:from_airport_id, options_for_select(@from_airport_options),
                        {prompt: 'Departure from', class: "form-control"}) %>
      </div>

      <div class="col-md-6">
        <%= label_tag(:to_airport_id, "To Airport") %>
        <%= select_tag(:to_airport_id, options_for_select(@to_airport_options),
                        {prompt: 'Arrive at', class: "form-control"}) %>
      </div>

      <div class="col-md-6">
        <%= label_tag(:passangers, "Number of Passangers") %>
        <%= select_tag(:passangers, options_for_select(@passangers_option),
                        {prompt: "Enter number of passengers", class: "form-control"}) %>
      </div>

      <div class="col-md-6">
        <%= label_tag(:departure_date, "Date") %>
        <%= select_tag(:departure_date, options_for_select(@dates_options),
                        {prompt: "Select a date", class: "form-control"}) %>
      </div>

      <%= submit_tag("Search", class: "btn btn-primary col-md-2 col-md-offset-5") %>

    <% end %>

  </div>

</div>

<hr>
  <h2>Available Flights</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= radio_button_tag(:flight_id, flight.id,class: "flight_select") %></td>
          <td><%=flight.id %></td>
          <td><%= flight.from_airport.code %> - <%= flight.from_airport.name %></td>
          <td><%= flight.to_airport.code %> - <%= flight.to_airport.name %></td>
          <td><%= flight.start_date.strftime("%d/%m/%Y") %> </td>
          <td><%= flight.start_hour.strftime("%H:%M:%S") %> </td>
          <td><%= flight.duration %> </td>
        </td>
      <% end %>
    </tbody>
  </table>
