<h1> <%= @article.title%> </h1>
<% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: "link" %>
<% end %>

<p>
  <% @article.attachments.each do |attachment| %>
    <%= attachment.image_file_name %><br/>
    <%= image_tag attachment.image.url(:thumb) %><br/>
  <% end %>
</p>

<p> <%= @article.body %> </p>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
