<div class="loggedout_menubar_container">

  <div class="clearfix loggedout_menubar">

    <div class="logo"> <h1>odinbook</h1> </div>

    <div class='fb_login'>
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <div class="img"> <%= image_tag("fb_logo_2.png", class:'icon') %> </div>
        <div id="text"> Sign in with Facebook </div>
      <% end %>
    </div>

    <div class="form_login">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form_login">
          <li><%= f.label :email, class:"lb"%><br />
          <%= f.email_field :email, id:"login_mail", autofocus: true,
                  autocomplete: "email" %></li>
          <li><%= f.label :password, class:"lb" %><br/>
          <%= f.password_field :password, id:"login_passwd", autocomplete: "off" %>
          <%= f.submit "Log in", class:"uiButtonConfirm uiButton" %></li>
          <div id="forgot_password">
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          </div>
        </div>
      <% end %>

    </div>

  </div>

</div>
