  <% current_user.get_posts.each do |post| %>
      <div class="posted">
          <%= link_to image_tag(avatar_for(post.user)),
              profile_path(post.user.id) %>
        <div class="post-info">
          <%= link_to post.user.fullname, '#', class: 'user_name' %>
          <p> <%= format_datetime(post.created_at) %> </p>
        </div>
        <% if current_user != post.user %>
          <p class="post-content"><%= post.content %></p>
        <% else %>
        <p><%= post.content %></p>
        <% end %>
        <div class="links-comment">
          <ul>
            <% if current_user != post.user %>
              <li>
                <% if post_liked?(post)%>
                  <%= link_to "Unlike", like_path(post_id: post.id), method: :delete %>
                <% else %>
                  <%= link_to "Like", likes_path(post_id: post.id), method: :post %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= render 'comments/show_comments', locals: {post: post} %>
      <% if current_user != post.user %>
        <div class="fcomment side-borders down-border" >
          <%= render 'comments/form_comment', locals: {post: post} %>
        </div>
      <% else %>
        <div class="no-form up-border">
        </div>
      <% end %>

  <% end %>
