<div class="row">

  <div class="col-md-8 col-md-offset-2 well">
    <h2>Flight Details</h2>

    <div >
      <table class="table">
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>From Airport</th>
            <th>To Airport</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @flight.id %></td>
            <td><%= @flight.from_airport.name %></td>
            <td><%= @flight.to_airport.name %></td>
            <td><%= @flight.start_date %></td>
            <td><%= @flight.start_hour.strftime("%H:%M") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
