<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <h2>Enter passenger details</h2>

    <%= form_for @booking do |f| %>

      <%= render 'shared/error_messages', object: @booking %>
      
      <%= f.fields_for :passengers do |passenger| %>
        <div class="row">
          <div class="col-md-12 well passenger_box">
            <%= passenger.label :name, "Name", class: "control-label col-sm-2"%>
            <%= passenger.text_field :name, class: "form-control"%>
            <%= passenger.label :email, "Email", class: "control-label col-sm-2" %>
            <%= passenger.text_field :email, class: "form-control" %>
          </div>
        </div>
      <% end %>

      <%= f.hidden_field :flight_id, value: params[:flight_id] %>
      <%= hidden_field_tag(:flight_id, params[:flight_id]) %>
      <%= hidden_field_tag(:passengers, params[:passengers]) %>

      <%= f.submit "Book Flight", class: "btn btn-success btn-lg col-md-4 col-md-offset-1" %>
      <%= link_to "Cancel", flights_path, class: "btn btn-danger btn-lg col-md-4 col-md-offset-1" %>

    <% end %>

  </div>

</div>
