<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p><br />

<%= link_to 'Edit', edit_author_path(@author), class: "button-link" %>
<%= link_to 'Back', authors_path, class: "button-link" %>
