<div class="main-header">
  <div class="header-holder">
    <%= link_to image_tag("fb_logo.png", class:'icon'), timeline_path(current_user) %>
    <div class="header-form">
      <%= form_tag(timeline_path(current_user), method: "get") do %>
        <%= search_field_tag('search', nil, placeholder: "Search") %>
        <%= button_tag(name: nil)  do %>
          <%= image_tag("search-icon.png") %>
        <% end %>
      <% end %>
    </div>
    <div class="header-menu">
      <ul>
        <li>
          <div class="header-profile">
            <%= render 'shared/user_info', locals: {user: current_user} %>
          </div>
        </li>
        <li> <%= link_to "Home", timeline_path(current_user) %> </li>
        <li>
          <!-- Refactor this code -->
          <% if friend_requests_pending > 0 %>
            <%= link_to friends_requests_path(current_user) do %>
              Notifications
              <%= content_tag :span, " #{friend_requests_pending}",
                  class: "friend-requests-counter" %>
            <% end %>
          <% else %>
            <%= link_to "Notifications", "#" %>
          <% end %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</div>
