<div class="side_bar">
  <ul>
    <li>
      <div class="header-profile">
        <%= link_to image_tag("user_icon.jpg"), profile_path(current_user.id) %>
        <%= link_to current_user.fullname, profile_path(current_user.id) %>
      </div>
    </li>
    <li><%= link_to "Newsfeed", '#' %></li>
    <li><%= link_to "Timeline", '#' %></li>
    <li><%= link_to "All Users", '#' %></li>
    <li><%= link_to "Profile", '#' %></li>
    <li><%= link_to "Firends", '#' %></li>
    <li><%= link_to "Firends Requests", '#' %></li>
    <li><%= link_to "Notifications", '#' %></li>
  </ul>
</div>
