<h1>Inviting People</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <% if @people_to_invite.any? %>
        <%= form_tag do %>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th class="Invite">Invite</th>
              </tr>
            </thead>
            <tbody>
              <% @people_to_invite.each do |person| %>
                <tr>
                  <td><%= person.name %></td>
                  <td><%= check_box_tag "people_invited[]", person.id %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <% if !params[:obj].nil? %>
            <%= hidden_field_tag(:event_id, params[:obj][:event_id] ) %>
          <% end %>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <%= submit_tag "Send Invitation", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <h4 class="info">There is no one to invite.</h4>
      <% end %>
  </div>
</div>
