<h1> User Info </h1>

<span class="label">Name:</span> <%= current_user.name %>

<h3>Created Events</h3>
<% if current_user.created_events.any? %>
  <ul>
    <% @events.each do |event| %>
      <li> <%= link_to event.title, event %></li>
    <% end %>
  </ul>
<% else %>
  <p>No event created</p>
<% end %>

<h3>Previous Attended Events</h3>
<% if @past_events.any? %>
  <% @past_events.each do |event| %>
    <%= event.title %>
  <% end %>
<% else %>
  <p>No event attended</p>
<% end %>

<h3>Upcoming Events</h3>
<% if @future_events.any? %>
  <% @future_events.each do |event| %>
    <%= event.title %>
  <% end %>
<% else %>
  <p>No upcoming event</p>
<% end %>

<h3>Invites</h3>
<% @invites.each do |invite| %>
  <div class="row">
    Inveted to: <%= link_to invite.title, invite %> |
    <%= link_to "Accept",
        accept_invite_path(params: {accepted: true, event: invite.id}),
        method: :post, class: 'btn btn-primary' %>
  </div>
<% end %>
