<h1>Kitten Info</h1>
Name: <%= @kitten.name %><br>
Age:  <%= @kitten.age %><br>
Cuteness: <%= @kitten.cuteness ? "Yes" : "No" %><br>
Softness: <%= @kitten.softness %><br>
<%= link_to "Home", kittens_path %>
