<h1> <%= @event.title %> </h1>
 <div class="row">
  <div class="col-md-8">
    <span class="label">Created by:</span> <%= link_to @event.creator.name, @event.creator %><br>
    <span class="label">At date:</span> <%= @event.at_date %><br>
    <span class="label">Description:</span> <%= @event.description %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <% if logged_in? && current_user?(@event.creator) %>
    <%= link_to "Invite a person",
    invitation_path(obj: { event_id: @event.id}), method: :get,
    class:'btn btn-primary' %>
    <% end %>
  </div>
</div>
<hr>
<%= render partial: 'events/attendees',
  locals: { attendees: @attendees_confirmed, type: 'Attendees',
            status: "No attendees"} %>
<hr>
<%= render partial: 'events/attendees',
  locals: { attendees: @invites_not_accepted, type: 'Confirmation pending',
            status: "No invites pending"} %>
