<h1> Event Details </h1>
<p> Created by: <%= link_to @event.creator.name, @event.creator %>
<p> Event: <%= @event.title %> </p>
<p> At date: <%= @event.at_date %></p>
<p> Description: <%= @event.description %></p>
<h2>Attendees</h2>
<% if @attendees.any? %>
  <% @attendees.each do |attendee|%>
    <ul>
      <li><%= attendee.name %></li>
    </ul>
  <% end %>
<% else %>
  <h4>No attendees.</h4>
<% end %>
<hr>
<h2> Confirmation pending </h2>
  <% @attendees_no_confirmed.each do |attendee| %>
  <ul>
    <li><%= attendee.name %></li>
  </ul>
  <% end %>
<hr>
<!-- Fixing is putting the method post -->
<% if signed_in? && current_user?(@event.creator) %>
  <%= link_to "Invite Someone", invitation_path(obj: {event_id: @event.id}) %>
<% end %>
